.OpeningImg {
    max-width: 100%;
    max-height: 30vw;
    height: 30vw;
    width: 5000vw;
}

.img {
    margin: 5vw;
    margin-top: 10vw; 
}

.container{ /* Creates sections and devides the dockument into said sections */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
     "header header header header" /* The top portion of the dock */
     "main main main main"  /* The main portion of the dock */
     "footer footer footer footer" /* The bottom portion of the dock */
    ;
}